body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    text-align: center;
    
}

.grid-container{
    font-size: 2rem;
    border: solid 2px black;
    display: grid;
    background-color: gray;
    width: 600px;
    height: 600px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr; 
    transition: all 1s linear;
    opacity: 0;
}

.grid-element{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-size: 2em;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
}


#reset{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#form{
    width: 200px;
    height: 250px;
    margin: auto;
    text-align: center;
}

.input-field{
    width: 150px;
    height: 20px;
}